.main-footer{
   width: 100%;
   font-family: "Open Sans", arial, helvetica, sans-serif;
   line-height: 1.5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: hidden;

   .curves {
    width: 105vw;
    margin: 0;
    padding: 0;
    margin-bottom: -6px;
    margin-left: -5px;
    @media (max-width: 991px) {
      margin-bottom: -2px;
    }
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .footer-details {
    background-color: $purple;
    padding-top: 20px;
    color: white;

    a{
      font-weight: normal;
      color: white;
    }

   .footer-info {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;

      .links-logo-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          text-align: center;
          color: white;
          font-family: "Poppins", sans-serif;
        }

        @media (max-width: 991px) {
          flex-direction: column;
        }

        .logo-container {
          width: 20%;
          margin-right: 5%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @media (max-width: 991px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
          }

          .footer-logo-img {
            width: 65px;
            aspect-ratio: auto 65 / 65;
            height: 65px;
            margin-bottom: 25px;
            font-size: 13px;
          }
        }

        .links-container {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 30px;
          @media (max-width: 991px) {
            flex-direction: column;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
          }

          .tab {
            border-left: 1px #704488 solid;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 13px;
            @media (max-width: 991px) {
              padding: 0px;
              margin:0px;
            }

            .tab-content {
              line-height: 2;
              list-style: none;
              margin-top: 12px;
              @media (max-width: 991px) {
                line-height: 3;
              }

              li {
                a {
                  font-size: 13px;
                  color: white;
                  &:hover {
                    text-decoration: underline;
                  }
                  @media (max-width: 991px) {
                    font-size: 15px;
                  }
                }
              }
            }

            input[type=checkbox] {
              display: none;
              margin: 0px;
            }

            label {
                font-size:15px;
                padding-top:10px;
                padding-bottom: 10px;
                font-family: "Poppins", sans-serif;
            }

            @media (max-width: 991px) {
              width: 100%;
              border-left: none;
              border-top: 1px #704488 solid;
              padding: 0px;
              &:last-child {
                border-bottom: 1px #704488 solid;
              }
              p {
                display: none;
              }


              label {
                position: relative;
                display: block;
                cursor: pointer;
                transition: background-color 0.1s;
                font-weight: 600;
                padding: 1em;
                &:hover {
                  background-color: rgba(0, 0, 0, 0.1);
                }
              }

              .tab-content {
                display: none;
              }

              label:after {
                content: "\276F";
                color: white;
                position: absolute;
                right: 1em;
                border-bottom: none;
              }

              input:checked + label:after {
                content: "\2335";
                font-weight: bold;
                font-size: 21px;
                right: 0.5em;
                top: 6%;
              }
              input:checked ~ .tab-content {
                display: block;
                border-top: 1px #704488 solid;
                padding:10px;
                margin: 0px;
              }

            }
          }
        }
      }
      .socials {
        width: 20%;
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
       a {
         border-radius: 50%;
         border: 1px solid white;
         width: 30px;
         height: 30px;
         text-align: center;
         margin-right: 10px;

         &:hover {
           text-decoration: none;
         }

         i {
           display: inline-block;
           font-size: 15px;
           line-height: 30px;
         }
       }

        @media (max-width: 991px) {
          margin-top:20px;
          width: 100%;
          justify-content: center;
        }
      }

      .trademark-logo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
        margin-bottom: 20px;
        .rights {
          font-size: smaller;
          width: 41%;
          @media (max-width: 991px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .seal-container {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          a {
            margin-right: 5px;
          }

          @media (max-width: 991px) {
           width: 100%;
           margin-top: 30px;
           margin-bottom: 30px;
          }
        }
        @media (max-width: 991px) {
          flex-direction: column;
          justify-content: center;
        }
      }

    }

    .no-nav-footer-info {
       max-width: 960px;
       margin-right: auto;
       margin-left: auto;
       display: flex;
       flex-direction: row;
       margin-bottom: 20px;
       justify-content: space-evenly;

      @media (max-width: 991px) {
        flex-direction: column;
        justify-content: center;
        margin: 10px;
      }

      .socials-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 20%;
        p {
          font-size: 15px;
          font-weight: 300;
        }
       .socials {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 10px;
          a {
            border-radius: 50%;
            border: 1px solid white;
            width: 30px;
            height: 30px;
            text-align: center;
            margin-right: 10px;

            &:hover {
              text-decoration: none;
            }

            i {
              display: inline-block;
              font-size: 15px;
              line-height: 30px;
            }
          }
        }

        @media (max-width: 991px) {
          width: 100%;
          align-items: center;
          margin-bottom: 10px;
        }
      }


      .trademark-logo {
        display: flex;
        .rights {
          font-size: smaller;
          width: 100%;

          @media (max-width: 991px) {
            margin:20px;
          }
        }

        .seal-container {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
          margin-bottom: 50px;
        }
        @media (max-width: 991px) {
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
