.isbn-link {
  display: none;
  right: 50px;
  color: #676767;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    .isbn-tooltip {
       visibility: visible;
    }
  }

  .isbn-tooltip {
    visibility: hidden;
    cursor: pointer;
    display: block;
    font-size: 12px;
    background-color: #0E3B5D;
    color:white;
    padding:15px;
    position: absolute;
    z-index: 1;
    width: 230px;
    top: 49px;
    left: 50%;
    margin-left: -122.5px;
    text-align: center;
  }

  .isbn-tooltip h4 {
    font-size: 17px;
    font-weight: bold;
  }

  .isbn-tooltip:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 50%;
    top: 19px;
    border: 45px solid transparent;
    border-top: 0;
    border-bottom: 43px solid #0E3B5D;
    transform: translate(-50%, calc(-100% - 5px));
  }

  @media (max-width: 767px) {
    .isbn-tooltip {
      left: 35%;
    }
    .isbn-tooltip:before {
      transform: translate(0, calc(-100% - 5px));
    }
  }

}
