@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url('OpenSans-Regular.eot');
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-Regular.woff2') format('woff2'),
  url('OpenSans-Regular.woff') format('woff'),
  url('OpenSans-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: 100%;
  src: url('OpenSans-Italic.eot');
  src: url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-Italic.woff2') format('woff2'),
  url('OpenSans-Italic.woff') format('woff'),
  url('OpenSans-Italic.ttf')  format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-Bold.woff2') format('woff2'),
  url('OpenSans-Bold.woff') format('woff'),
  url('OpenSans-Bold.ttf')  format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Light.eot');
  src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
  url('OpenSans-Light.woff2') format('woff2'),
  url('OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('Poppins-Regular.eot');
  src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('Poppins-Regular.woff2') format('woff2'),
  url('Poppins-Regular.woff') format('woff'),
  url('Poppins-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('Poppins-Italic.eot');
  src: url('Poppins-Italic.eot?#iefix') format('embedded-opentype'),
  url('Poppins-Italic.woff2') format('woff2'),
  url('Poppins-Italic.woff') format('woff'),
  url('Poppins-Italic.ttf')  format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('Poppins-Bold.eot');
  src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('Poppins-Bold.woff2') format('woff2'),
  url('Poppins-Bold.woff') format('woff'),
  url('Poppins-Bold.ttf')  format('truetype');
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
}

